{% extends 'timesheet/base.html'%}

{% block content%}

<h1>{{user.username}}'s timesheets</h1>
{% for timesheet in timesheets %}
  <div class="timsheet-list-element">
      <div class="timesheet-author--list">
        {{ timesheet.user.username }}
      </div>
      <a href="{% url 'timesheet_detail' pk=timesheet.pk %}">
        <div class="timesheet-duration--list">
          {{ timesheet.duration }}
        </div>
      <div class="timesheet-title--list">
          {{ timesheet.title }}
      </div>
    </a>
  </div>
{% endfor %}

{% endblock %}
