{% extends 'timesheet/base.html' %}

{% block content %}
<a href="{% url 'timesheet_edit' pk=timesheet.pk %}">
  <button class="mdl-button mdl-js-button mdl-button--primary">
    Edit
  </button>
</a>
<div class='timesheet'>
  <div class="timesheet-title">
    {{ timesheet.title }}
  </div>
  <div class="timesheet-author">
    created by {{ timesheet.user.username }} on {{ timesheet.creationtime }}
  </div>
  <div class="timesheet-duration">
    Worked for {{ timesheet.PrettyTime }}
  </div>
  <div class="timesheet-description">
    {{ timesheet.description }}
  </div>
</div>
{% endblock %}
