.timesheet-author--list, .timesheet-title--list, .timesheet-duration--list {
  color: #3c2323;
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  display: inline;
  float: left;
  width: 32%;
  padding-left: 1%;
  background-color: beige;
  height: 40px;
  margin: auto;
  text-align: center;
  line-height: 2;
}

.timsheet-list-element {
  width: 100%;
  margin-top: 10px;
}

.timesheet-author--list {
  text-transform: uppercase;
}

.timesheet-duration--list, .timesheet-title--list {
  float: right;
}
